.logo{
    height: 2rem;
}

.carousel-inner img{
height: 20vh;
object-fit: cover;
}
footer img{
    height: 2rem;
}
table th {
  border: solid black 2px;
  height: 2rem;
}
.subtitle_table {
    text-align: center;
  }
table td {
    border: solid black 2px;
  height: 2rem;
  }

.medio{
  height: 85vh;
}

.tarjeta{
 background: #8080803d;
 width: 25vh;
 margin: 1rem;
}
.tarjeta img{
  width: 25vh;
  height: 14vh;
}

.card-text{
  width: 22vh;
  height: 12vh;
}

.card-title{
  width: 15vh;
  height: 6vh;
}
.tarjetaDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjetaDetails img{
  object-fit: cover;
    width: 50vh;
    height: 82vh;
}

.fondo{
  background-color: antiquewhite;
}

